html, body {
	background: black;
}

div[id*='bgBorder'] {
	padding: 10px;
	background: blue;
	margin: 10px;
}

#bgBorder1 {
	background: linear-gradient(to bottom, blue, transparent);
}

#bgBorder2 {
	background: linear-gradient(to bottom, red, green);
}

#bgBorder3 {
	background: linear-gradient(to bottom left, cyan, blue);
}

#main {
	background: white;
	width: 100%;
	height: 200px;
}
